.Header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddToDo div {
  margin-top: 25px;
}
input {
  text-align: center;
  width: 250px;
  height: 30px;
}
.Add {
  height: 35px;
}
.TodoBlock {
  margin-top: 50px;
  justify-content: center;
  text-align: center;
}
.TodoBlock div {
  display: flex;
  margin: auto;
  border-radius: 5px;
  width: 150px;
}
.TodoBlock header {
  border: 1px solid black;
  width: 450px;
  margin: auto;
}
.TodoBlock .block {
  display: flex;
  justify-content: space-between;
  width: 450px;
  border-radius: 5px;
  border: 1px solid black;
}
.TodoBlock main {
  margin-top: 25px;
}
.TodoBlock img {
  width: 100%;
  height: 100%;
}
.TodoBlock .img {
  width: 150px;
  height: 100px;
}
.TodoBlock .data {
  margin-left: 10px;
  width: 150px;
}
